:root {
	--primary-color-100: #4772b4;
	--primary-color-200: #3c6097;
	--primary-color-300: #304d79;
	--primary-color-400: #253b5c;
	--primary-color-500: #19283f; /*primary color*/
	--green-color-100: #eff7fa;
	--green-color: #33d1cc;
	--red-color: #ff3150;
	--yellow-color: #ffc40c;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 10000px;
}

/* start components */
.main-btn {
	background-color: var(--red-color);
	color: var(--yellow-color);
}
.main-btn:hover {
	background-color: var(--red-color);

	color: var(--yellow-color);
}

.main-title::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--green-color);
}
/* end components */

/* start slogan */
.slogan {
	background-color: var(--yellow-color);
	color: var(--primary-color-500);
	text-align: right;
}
/* end slogan */

/* start nav bar */
.navbar {
	background-color: var(--primary-color-500);
}

.navbar .navbar-nav .nav-link {
	color: white;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
	color: var(--green-color);
}

.navbar .search {
	border-left: 1px solid var(--green-color);
}

.navbar .search svg {
	color: var(--green-color);
}

.navbar .navbar-toggler {
	color: white;
	font-size: 25px;
	border-color: white;
}

.navbar .navbar-toggler {
	color: white;
	font-size: 25px;
	border-color: white;
}
.navbar .navbar-toggler:focus {
	box-shadow: none;
}
/* end of nav bar */

/* start landing */
.landing {
	background-color: var(--primary-color-500);
	min-height: calc(100vh - 94px);
}
/* end landing */

/* start features */
.icons-holder {
	height: 200px;
}
.icons-holder .number {
	font-size: 12rem;
	left: 50%;
	transform: translateX(-50%);
	color: var(--green-color-100);
}
.icons-holder .icon {
	left: 50%;
	transform: translateX(-50%);
	color: var(--green-color);
}
.feat .header {
	color: var(--yellow-color);
}

/* end features */
/* start our works */
.our-works {
	background-color: var(--green-color-100);
}
.our-works ul li.active {
	background-color: var(--red-color);
	color: var(--yellow-color);
}
.our-works ul li:not(.active):hover {
	color: var(--red-color);
}
.our-works .img-holder {
	padding: 5px;
	overflow: hidden;
	position: relative;
}
.our-works .img-fluid {
	width: 100%;
	height: 100%;
}
.our-works .img-holder::after {
	content: attr(data-work);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	left: 5px;
	top: 5px;
	background-color: rgb(51, 209, 204, 0.8);
	transform: translateX(-105%);
	transition: 0.3s;
}
.our-works .img-holder:hover::after {
	transform: translateX(0);
}
/* end our works */
/* start about us */
.about-us .container > p {
	max-width: 600px;
}
/* end about us  */
/* start team */
.team {
	background-color: var(--green-color-100);
}
.team h2 {
	color: var(--yellow-color);
}
.team .box h4 {
	background-color: var(--green-color);
	color: white;
}
/* end team */
/* start project */
.project {
	background-color: var(--primary-color-500);
}
/* end project */
/* start subscribe */
.subscribe {
	color: var(--primary-color-500);
	background-color: var(--yellow-color);
}
.subscribe input[type='text'] {
	border: none;
	border-bottom: 1px solid white;
}
.subscribe input[type='text']:focus {
	outline: none;
}
.subscribe input[type='text']::placeholder {
	color: white;
}
.subscribe input[type='submit'] {
	color: var(--yellow-color);
	background-color: var(--primary-color-500);
	border: none;
}
.subscribe form {
	margin-bottom: 10px;
}
/* end subscribe */
